<div class="tab-content" id="v-pills-tabContent">
    <div class="card-deck">
  
        <div *ngFor="let element of list" class="card border-dark mb-3" style="max-width: 250px; min-width: 200px;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <div class="row">
                    <div class="col-7">
                        <h5 class="card-title">{{element.orderdetails[0].name}}</h5>
                        <p class="card-text">Prix: {{element.orderdetails[0].price}} Ar</p>
                        <p class="card-text">Quantité: {{element.nb}}</p>
                    </div>
                    <div class="col-5">
                        <button class="btn btn-outline-dark my-2 my-sm-0" (click)="delete(element.id)">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>