<div class="tab-content" id="v-pills-tabContent">
    <div class="card-deck">
  
        <div *ngFor="let element of list; let i = index;trackBy:trackByIdx" class="card border-dark mb-3" style="max-width: 250px; min-width: 200px;">
            <!-- <a [routerLink]="['/plate']" [queryParams]="{idplate: element.id}"> -->
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <div class="row">
                    <div class="col-8">
                        <h5 class="card-title">{{element.name}}</h5>
                        <p class="card-text">{{element.price}} Ar</p>
                    </div>
                    <div class="col-4">
                        <p class="card-text">Quantité: <input style="width: 50px;" [(ngModel)]="nb[i]" name="nb[i]" type="number" placeholder="0"></p>
                    </div>
                </div>
            </div>
            <!-- </a> -->
        </div>
    </div>
</div>
<div class="form-group row">
    <label for="inputEmail3" class="col-sm-2 col-form-label">Lieu de livraison</label>
    <div class="col-sm-6">
        <input  class="form-control" [(ngModel)]="place" name="place" type="text" placeholder="Lieu">
    </div>
    <button class="btn btn-outline-dark my-2 my-sm-0" (click)="valider()">Valider</button>
</div>
