<div class="tab-content" id="v-pills-tabContent">
    <div class="card-deck">
  
        <div *ngFor="let element of list" class="card border-dark mb-3" style="max-width: 250px; min-width: 200px;">
            <!-- <a [routerLink]="['/plate']" [queryParams]="{idplate: element.id}"> -->
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <div class="row">
                    <div class="col-8">
                        <h5 class="card-title">{{element.name}}</h5>
                        <p class="card-text">{{element.price}} Ar</p>
                    </div>
                    <div class="col-4">
                        <p class="card-text"><input style="width: 50px;" [(ngModel)]="nb" name="nb" type="number" placeholder="0"></p>
                    </div>
                </div>
            </div>
            <!-- </a> -->
        </div>
    </div>
</div>